@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-family: 'Roboto', sans-serif;
}

#container-top,
#weekdays {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    color: white;
}

#container-top {
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

#container-top>div,
#weekdays>div {
    margin: 0px;
    width: 200px;
    height: 200px;
}

#container-bottom {
    color: black;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.27);
    background-color: white;
}

#weekdays {
    color: black;
    margin: 0px;
}

#forecast-intro {
    margin: 20px;
    text-align: left;
    display: block;
}

#left-today-description,
#right-real-temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-today-description > h1 {
    text-align: left;
}

#left-today-description > p {
    text-align: left;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

    #container-top,
    #weekdays,
    #container-bottom {
        flex-direction: column;
        flex: 100%;
    }
}